.collection-option{
    font-size: 10pt!important;
}
.collection-option:webkit-any-link, a:focus{
    text-decoration: none;
}
.collection-option.selected{
    font-weight: 600;
}

.collection-list-item{
    margin: .25rem 0;
}

.collection-divider{
    margin: 0;
}