.upsell-modal-content{
    min-width: 700px;
    width: unset;
}

.upsell-modal-content .modal-header{
    background-color: #26A9E0;
    color: white;
}

.upsell-modal-content p{
    margin-bottom: .25rem;
}

.upsell-modal-content .btn{
    font-size: .8rem;
}

.upsell-modal-content .confirm-btn{
    font-weight: 700;
}

.upsell-modal-content .cancel-btn{
    background-color: white;
    color: #26A9E0; 
    border: solid 1px rgba(0, 0, 0, 50%);
}
.upsell-modal-content .cancel-btn:hover{
    background-color: #cacaca;
}

.upsell-modal-content .btn-close{
    filter: invert(1) grayscale(100%) brightness(200%)
}