div.Appendix_number, caption.Appendix_number
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Body, caption.Body
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Bulleted, caption.Bulleted
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 30.96pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -12.96pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Callout, caption.Callout
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Caption, caption.Caption
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 20.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellBody, caption.CellBody
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.CellHeading, caption.CellHeading
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Footnote, caption.Footnote
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Head1, caption.Head1
{
  color: #707070;
  direction: ltr;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 15.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Head2, caption.Head2
{
  color: #47baff;
  direction: ltr;
  font-family: Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Head3, caption.Head3
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Head4, caption.Head4
{
  color: #707070;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Head5, caption.Head5
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading1, caption.Heading1
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Heading2, caption.Heading2
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.HeadingRunIn, caption.HeadingRunIn
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.HeadRun-in, caption.HeadRun-in
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Illo, caption.Illo
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 14.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Illo_002bcaption, caption.Illo_002bcaption
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Illo_sidebar, caption.Illo_sidebar
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Indented, caption.Indented
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.IndexTitle, caption.IndexTitle
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 20.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Mapping_Table_Cell, caption.Mapping_Table_Cell
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Mapping_Table_Title, caption.Mapping_Table_Title
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Module_name, caption.Module_name
{
  color: #47baff;
  direction: ltr;
  font-family: Arial;
  font-size: 20.0pt;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Module_number, caption.Module_number
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Note, caption.Note
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered, caption.Numbered
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered_intro, caption.Numbered_intro
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Numbered1, caption.Numbered1
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Query, caption.Query
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 7.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Sidebar_bulleted, caption.Sidebar_bulleted
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Sidebar_caption, caption.Sidebar_caption
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Sidebar_run-in, caption.Sidebar_run-in
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Sidebar_text, caption.Sidebar_text
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Sidebar_title, caption.Sidebar_title
{
  color: #ff0000;
  direction: ltr;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Table_head, caption.Table_head
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Table_text, caption.Table_text
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Table_text_warn, caption.Table_text_warn
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TableFootnote, caption.TableFootnote
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 30.00024pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -12.000240000000001pt;
  text-transform: none;
  vertical-align: baseline;
}

div.TableTitle, caption.TableTitle
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Title, caption.Title
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 24.0pt;
  text-align: center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

div.Typed-in_para, caption.Typed-in_para
{
  color: #000000;
  direction: ltr;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

span.Bold, span.Bold a, span.Bold a:active, abbreviation.Bold, abbreviation.Bold a, abbreviation.Bold a:active, acronym.Bold, acronym.Bold a, acronym.Bold a:active, citation.Bold, citation.Bold a, citation.Bold a:active
{
  font-weight: bold;
}

span.Bulletsymbol, span.Bulletsymbol a, span.Bulletsymbol a:active, abbreviation.Bulletsymbol, abbreviation.Bulletsymbol a, abbreviation.Bulletsymbol a:active, acronym.Bulletsymbol, acronym.Bulletsymbol a, acronym.Bulletsymbol a:active, citation.Bulletsymbol, citation.Bulletsymbol a, citation.Bulletsymbol a:active
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Courier, span.Courier a, span.Courier a:active, abbreviation.Courier, abbreviation.Courier a, abbreviation.Courier a:active, acronym.Courier, acronym.Courier a, acronym.Courier a:active, citation.Courier, citation.Courier a, citation.Courier a:active
{
  font-family: Arial;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Emphasis, span.Emphasis a, span.Emphasis a:active, abbreviation.Emphasis, abbreviation.Emphasis a, abbreviation.Emphasis a:active, acronym.Emphasis, acronym.Emphasis a, acronym.Emphasis a:active, citation.Emphasis, citation.Emphasis a, citation.Emphasis a:active
{
  font-style: italic;
}

span.EquationVariables, span.EquationVariables a, span.EquationVariables a:active, abbreviation.EquationVariables, abbreviation.EquationVariables a, abbreviation.EquationVariables a:active, acronym.EquationVariables, acronym.EquationVariables a, acronym.EquationVariables a:active, citation.EquationVariables, citation.EquationVariables a, citation.EquationVariables a:active
{
  font-style: italic;
}

span.Note_lead-in, span.Note_lead-in a, span.Note_lead-in a:active, abbreviation.Note_lead-in, abbreviation.Note_lead-in a, abbreviation.Note_lead-in a:active, acronym.Note_lead-in, acronym.Note_lead-in a, acronym.Note_lead-in a:active, citation.Note_lead-in, citation.Note_lead-in a, citation.Note_lead-in a:active
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: baseline;
}

span.Number, span.Number a, span.Number a:active, abbreviation.Number, abbreviation.Number a, abbreviation.Number a:active, acronym.Number, acronym.Number a, acronym.Number a:active, citation.Number, citation.Number a, citation.Number a:active
{
  color: #ff0000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Query, span.Query a, span.Query a:active, abbreviation.Query, abbreviation.Query a, abbreviation.Query a:active, acronym.Query, acronym.Query a, acronym.Query a:active, citation.Query, citation.Query a, citation.Query a:active
{
  color: #000000;
  font-family: Arial;
  font-size: 9.5pt;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Subscript, span.Subscript a, span.Subscript a:active, abbreviation.Subscript, abbreviation.Subscript a, abbreviation.Subscript a:active, acronym.Subscript, acronym.Subscript a, acronym.Subscript a:active, citation.Subscript, citation.Subscript a, citation.Subscript a:active
{
  vertical-align: sub;
}

span.Superscript, span.Superscript a, span.Superscript a:active, abbreviation.Superscript, abbreviation.Superscript a, abbreviation.Superscript a:active, acronym.Superscript, acronym.Superscript a, acronym.Superscript a:active, citation.Superscript, citation.Superscript a, citation.Superscript a:active
{
  font-size: 6.0pt;
  font-variant: normal;
  text-transform: none;
  vertical-align: super;
}

span.Typed-in_text, span.Typed-in_text a, span.Typed-in_text a:active, abbreviation.Typed-in_text, abbreviation.Typed-in_text a, abbreviation.Typed-in_text a:active, acronym.Typed-in_text, acronym.Typed-in_text a, acronym.Typed-in_text a:active, citation.Typed-in_text, citation.Typed-in_text a, citation.Typed-in_text a:active
{
  color: #000000;
  font-family: Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

table.Mapping_Table
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  text-align: left;
}

table.N2col_table
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 10.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.Format_A
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

table.Format_B
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: center;
}

table.Warning
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 10.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.Sidebar_table
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 14.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 8.0pt;
  padding-bottom: 5pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 5pt;
  text-align: left;
}

table.N1col_table
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 10.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

table.Lined_Table
{
  border-collapse: collapse;
  direction: ltr;
  margin-bottom: 10.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  padding-bottom: 5pt;
  padding-left: 3pt;
  padding-right: 3pt;
  padding-top: 5pt;
  text-align: left;
}

