{{ define "content" }}

<div class="container">
  <div class="row">
  <div class="col text-center">
 <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>{{ .Title }}</b></h1>
  </div>
  </div>
  <div class="row">
  <div class="col">
      {{ .Params.content | markdownify}}
      </div>
	</div>
  </div>

<script>
$(function() {
$(document).on('submit', 'form', function(event){
    event.preventDefault();
var form = $("form");
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
    }).done(function(data) {
      alert("Thank you for your interest in the Enterprise program.  Please allow 24 to 48 hours for a response.");
	  $(form).trigger("reset");   
	  $('#submit').attr('disabled', true);   
   }).fail(function(data) {
	alert("Failed to submit the form.  Please contact sales for more information.");
	})
    
  });
});

</script>
{{ end }}
