<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Boris FX | Continuum 2020</title>
    <link rel="canonical" href="https://borisfx.com/products/continuum/">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="description" content="Continuum 2020 is now available!">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
	<script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
	<script async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"></script>
	<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <style amp-custom>
	@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_7_0.eot");
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_7_0.eot") format("embedded-opentype"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_7_0.woff2") format("woff2"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_7_0.woff") format("woff"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_7_0.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: italic;
  font-weight: 300;
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_9_0.eot");
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_9_0.eot?#iefix") format("embedded-opentype"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_9_0.woff2") format("woff2"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_9_0.woff") format("woff"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_9_0.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_6_0.eot");
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_6_0.eot?#iefix") format("embedded-opentype"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_6_0.woff2") format("woff2"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_6_0.woff") format("woff"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_6_0.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: italic;
  font-weight: 400;
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_3_0.eot");
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_3_0.eot?#iefix") format("embedded-opentype"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_3_0.woff2") format("woff2"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_3_0.woff") format("woff"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_3_0.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 600;
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_B_0.eot");
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_B_0.eot?#iefix") format("embedded-opentype"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768101/fonts/avenir/31AFFA_B_0.woff2") format("woff2"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_B_0.woff") format("woff"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768100/fonts/avenir/31AFFA_B_0.ttf") format("truetype"); }

@font-face {
  font-family: "Avenir";
  font-style: italic;
  font-weight: 600;
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_5_0.eot");
  src: url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_5_0.eot?#iefix") format("embedded-opentype"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768099/fonts/avenir/31AFFA_5_0.woff2") format("woff2"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_5_0.woff") format("woff"), url("https://borisfx-com-res.cloudinary.com/raw/upload/v1531768098/fonts/avenir/31AFFA_5_0.ttf") format("truetype"); }
body {
font-family: Avenir;
padding:15px;
}
	</style>
	
  </head>
  <body>
 

   <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
<amp-img id="logo" src="https://borisfx-com-res.cloudinary.com/image/upload/q_auto,f_auto/borisfx-logo-new.png" alt="Logo" height="50" width="150"></amp-img><amp-img src="https://borisfx-com-res.cloudinary.com/image/upload/q_auto,f_auto/v1572022494/sapphire-amp.png" height="50" width="50"></amp-img><amp-img src="https://borisfx-com-res.cloudinary.com/image/upload/q_auto,f_auto/v1572022494/sapphire-amp.png" height=50 width=50 alt="Sapphire"></amp-img><amp-img src="https://borisfx-com-res.cloudinary.com/image/upload/q_auto,f_auto/v1572022494/sapphire-amp.png" height=50 width=50 alt="Mocha"></amp-img><amp-img src="https://borisfx-com-res.cloudinary.com/image/upload/q_auto,f_auto/v1572022494/sapphire-amp.png" height=50 width=50 alt="Mocha"></amp-img>
  </header>
<br>
       <p class="mb4 px3">
	   <h2 align="center">THE MOST COMPREHENSIVE PLUG-IN TOOLKIT</h2> <amp-youtube
    data-videoid="dKixSxlubXQ"
    layout="responsive"
    width="480" height="270">
    <amp-img
      src="{{ .Params.overview.image_url}}"
      placeholder
      layout="fill"
      />
  </amp-youtube> <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><p>{{ .Params.overview.content }}</p></amp-fit-text>
<br>
<hr>
<p class="mb4 px3"><h2 align="center">WHAT'S NEW IN CONTINUUM 2020</h2></p>
  <amp-carousel class="carousel1"
  layout="responsive"
  height="550"
  width="500"
  type="slides">
  <div class="slide"><amp-youtube
    data-videoid="ASFvkFudUUE"
    layout="responsive"
    width="480" height="270">
    <amp-img
      src="{{ .Params.whats_new.image_url0 }}"
      placeholder
      layout="fill"
      /></amp-youtube>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><br>{{ .Params.whats_new.content0 }} </amp-fit-text>
  </div>

  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url }}"
      layout="responsive"
     width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">New! Corner Pinning</h2><br>{{ .Params.whats_new.content }}</amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url1 }}"
      layout="responsive"
    width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">NEW! REFLECTION</h2><br>{{ .Params.whats_new.content1 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url2 }}"
      layout="responsive"
    width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">NEW! CAST SHADOW</h2><br>{{ .Params.whats_new.content2 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url3 }}"
      layout="responsive"
    width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">NEW! CURL</h2><br>{{ .Params.whats_new.content3 }} </amp-fit-text>
  </div> 
  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url4 }}"
      layout="responsive"
    width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">MOCHA IMPROVEMENTS - NEW AREA BRUSH</h2><br>{{ .Params.whats_new.content4 }} </amp-fit-text>
  </div> 
  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url5 }}"
      layout="responsive"
    width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">PARTICLE ILLUSION IMPROVEMENTS</h2><br>{{ .Params.whats_new.content5 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.whats_new.image_url6 }}"
      layout="responsive"
    width="480" height="270"
      alt="Whats new"></amp-img>
    <amp-fit-text layout="responsive" min-font-size="10"
      width="500"
      height="250" max-font-size="24"><h2 align="center">TITLE STUDIO IMPROVEMENTS</h2><br>{{ .Params.whats_new.content6 }} </amp-fit-text>
  </div>

</amp-carousel>
<br>
<hr>
<p class="mb4 px3"><h2 align="center">FEATURES</h2></p>
  <amp-carousel class="carousel1"
  layout="responsive"
  height="550"
  width="500"
  type="slides">
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">TITLE STUDIO & 3D OBJECTS</h2><br>{{ .Params.features.content }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url1 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">ART LOOKS</h2><br>{{ .Params.features.content1 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url2 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">BLUR AND SHARPEN</h2><br>{{ .Params.features.content2 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url3 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">COLOR AND TONE</h2><br>{{ .Params.features.content3 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url4 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">FILM STYLE</h2><br>{{ .Params.features.content4 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url5 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">IMAGE RESTORATION</h2><br>{{ .Params.features.content5 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url6 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">KEY AND BLEND</h2><br>{{ .Params.features.content6 }} </amp-fit-text>
  </div>  
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url7 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">LIGHTS</h2><br>{{ .Params.features.content7 }} </amp-fit-text>
  </div> 
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url8 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">MATCH MOVE</h2><br>{{ .Params.features.content8 }} </amp-fit-text>
  </div> 
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url9 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">PARTICLES</h2><br>{{ .Params.features.content9 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url10 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">PERSPECTIVE</h2><br>{{ .Params.features.content10 }} </amp-fit-text>
  </div>
<div class="slide">
    <amp-img src="{{ .Params.features.image_url11 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">STYLIZE</h2><br>{{ .Params.features.content11 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url12 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">TEXTURES</h2><br>{{ .Params.features.content12 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url13 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">TIME</h2><br>{{ .Params.features.content13 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url14 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">TRANSITIONS</h2><br>{{ .Params.features.content14 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url15 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">VR</h2><br>{{ .Params.features.content15 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url16 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">WARP</h2><br>{{ .Params.features.content16 }} </amp-fit-text>
  </div> 
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url17 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">THOUSANDS OF PRESETS</h2><br>{{ .Params.features.content17 }} </amp-fit-text>
  </div>
  <div class="slide">
    <amp-img src="{{ .Params.features.image_url18 }}"
      layout="responsive"
    width="480" height="270"
      alt="Overview"></amp-img>
    <amp-fit-text layout="responsive"
      width="500"
      height="250" min-font-size="10" max-font-size="24"><h2 align="center">FLEXIBLE PRICING</h2><br>{{ .Params.features.content18 }} </amp-fit-text>
  </div>

</amp-carousel>
  </body>
</html>