
{{ define "content" }}

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h1>Boris FX</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        {{ range .Site.Data.menus.topbar }}
        <li>
          <a href="{{ .url }}">{{ .title }}</a>
          <ul>
            {{ range .subitems }}
            <li><a href="{{ .url }}">{{ .title }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
      <ul class="list-unstyled">
        <li><a href="/search/">Search</a></li>
        <li><a href="/account/cart/">Cart</a></li>
        <li><a href="/account/manage/">Account</a></li>
      </ul>
    </div>
  </div>
</div> -->

{{ end }}
