
<script src="/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <style>
 body {
 background-color:black;
}
 </style>
 <div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

<img class="img-fluid" src="https://borisfx-com-res.cloudinary.com/image/upload/q_auto,f_auto/v1659634995/registration_img_2x.png">

      </div>
    </div>
</div>
</div>