{{ define "content" }}

{{ $.Scratch.Set "video_count" 0 }}

<style>
@media only screen and (min-width: 1200px) {
.image {
display: inline;
}
}
</style>
<script>
$(document).ready(function() {
hj('trigger', 'silhouette');
});
</script>
<script>
var videos = [
  {{ range (.Site.GetPage "section" "effects").Pages }}
  {{ if isset $.Params "product" }}
  {{ if eq .Params.product $.Params.product }}
  {{ if or (not (isset $.Params "unit")) (eq .Params.unit $.Params.unit) }}
  {
    "x": {{ $.Scratch.Set "video_count" 1 }},
    "title": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "thumbnail_url": "{{ .Params.thumbnail_url }}",
    "tagging": {
      {{ if isset .Params "unit" }}
      "unit": {{ .Params.unit }},
      {{ end }}
    },
    "content": "{{ .Content | plainify }}",
  },
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
];
</script>

{{ if .Params.carousel }}
<div style="background-color: black;">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{ range $index, $item := .Params.carousel }}
      <li data-target="#carousel" data-slide-to="{{ $index }}"{{ if eq $index 0 }} class="active"{{ end }}></li>
      {{ end }}
    </ol>
    <div class="carousel-inner" role="listbox">
      {{ range $index, $item := .Params.carousel }}
      <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
        <div class="inner">
          {{ if $item.video_url }}
          <video autoplay loop muted playsinline poster="{{ $item.image_url }}">
            <source src="{{ $item.video_url }}">
          </video>
          {{ else }}
		  {{ partial "imagehandlecarousel.html" (dict "image_url" $item.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}

          {{ end }}
          {{ if $item.content }}
          <div class="content" style="text-align: center;">
            <div>
              <p class="mb-0" style="line-height: 1; font-size: 47px; font-weight: 900;">{{ $item.title }}</p>
              <p>
                {{ $item.content | markdownify }}
              </p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

<div class="product-nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <nav>
          <span class="product-links">
            {{ if .Params.overview.content }}
            <a href="#overview">Overview</a>
            {{ end }}
            {{ if .Params.whats_new }}
            <a href="#whats-new">
              {{ if .Params.whats_new_title }}
              {{ .Params.whats_new_title }}
              {{ else }}
              What's New
              {{ end }}
            </a>
            {{ end }}
            {{ if .Params.videos }}
            <a href="#videos">Videos</a>
            {{ end }}
            {{ if .Params.features.content }}
            <a href="#features">Features</a>
            {{ end }}
            {{ if .Params.presets }}
            <a href="#presets">Presets</a>
            {{ end }}
            {{ if .Params.hosts.content }}
            <a href="#hosts">Hosts</a>
            {{ end }}
            {{ range .Params.sections }}
            <a href="#{{ .title | urlize }}">{{ .title }}</a>
            {{ end }}
            {{ if .Params.learn.content }}
            <a href="#learn">Learn</a>
            {{ end }}
            {{ if gt ($.Scratch.Get "video_count") 0 }}
            <a href="#effects">Effects</a>
            {{ end }}
          </span>
        </nav>
      </div>

      <div class="col-lg-4 col-md-12">
        <span class="float-lg-right product-btns">
          <a href="{{ if .Params.download_url }}{{ .Params.download_url }}{{ else }}/downloads{{ end }}" class="btn btn-{{ .Params.key_color }}" id="ft">FREE TRIAL</a>
          <a href="{{ .Params.buy_now_url }}" class="btn btn-{{ .Params.key_color }}">BUY NOW</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="product-nav-placeholder"></div>
<script>
$(function () {
  $(document).ready(function () {
    var nav = $('.product-nav');
    var navPosition = nav.offset().top;
    navPosition -= $('header').height();
    function update() {
      if ($(this).scrollTop() > navPosition) {
        nav.addClass("fixed");
      } else {
        nav.removeClass("fixed");
      }
    }
    $(window).scroll(update);
    update();
  });
});
</script>

<div class="container">
    <div class="row" style="margin-top:-35px;">
      <div class="col-lg-12 text-center">	
	  <div id="overview"></div>
</div>
</div>
</div>

{{ if .Params.overview.content }}
<div style="font-style: normal;font-weight: 300;" class="section white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">		  
	  <div style="font-size:14pt;">
	  <div id="overview"></div>
		{{ if .Params.overview.title }}
		<h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>{{ .Params.overview.title }}</b></h1><br><br>
		{{ end }}

		<div id="container1">
		<br>
{{ partial "imagehandlewithdir.html" (dict "image_url" .Params.overview.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
{{ partial "imagehandlewithdir.html" (dict "image_url" .Params.overview.image_url2 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
		</div><br>

		<p>
          <div class="text-left"><p style="font-style: normal;font-weight: 300;">{{ .Params.overview.content | markdownify }}</p></div>
        </p>
      </div>
	  </div>
    </div>
  </div>
</div>
{{ end }}

<script>
$(window).on('load',function() {
  $("#container1").twentytwenty();
  
  $("#container2").twentytwenty();  
  
  $("#container3").twentytwenty();
  
});
</script>

{{ if .Params.whats_new }}
<div style="font-style: normal;font-weight: 300;" class="section gray">
  <div class="container">
   <div class="row">
      <div class="col">
        <h1 id="whats-new" style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>WHAT'S NEW</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">		  
	  <div style="font-size:14pt;">
	  <div id="overview"></div>
		{{ if .Params.whats_new.title }}
		<h2 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>{{ .Params.whats_new.title }}</b></h2><br><br>
		{{ end }}

        {{ if .Params.whats_new.video_url }}
	    {{ partial "video-play.html" (dict "thumbnail_url" .Params.whats_new.thumbnail_url "video_url" .Params.whats_new.video_url) }}<br>
        {{ end }}

		<p>
          <div class="text-left"><p style="font-style: normal;font-weight: 300;">{{ .Params.whats_new.content | markdownify }}</p></div>
        </p>
      </div>
	  </div>
    </div>
  </div>
</div>

{{ end }}


{{ if .Params.videos }}
<div  class="section white text-center">
  <div class="container">
  	  <div style="font-size:14pt;">
    <div class="row">
      <div class="col">
        <h2 id="videos" style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>Videos</b></h2>
      </div>
    </div>
    <div class="row">
      {{ range .Params.videos }}
      <div class="col-lg-3">
        <p>
          <a href="{{ .Params.video_url }}">
            <img class="img-fluid" src="{{ .image_url }}" />
          </a>
        </p>
        <p>
          <a href="{{ .Params.video_url }}">{{ .title }}</a>
        </p>
      </div>
      {{ end }}
    </div>
    {{ if .Params.video_see_more_url }}
    <div class="row">
      <div class="col">
        <p>
          <a href="{{ .Params.video_see_more_url }}">See More Videos</a>
        </p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
</div>
{{ end }}

{{ if .Params.features.content }}
<div style="font-style: normal;font-weight: 300;" class="section">
  <div class="container">
      <div class="row">
      <div class="col">
	          <h1 id="features" style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b></b></h1>
	  </div>
	  </div>
    <div class="row">
		  <div style="font-size:14pt;">
      <div class="col">

        <div class="text-left"><p style="font-style: normal;font-weight: 300;">{{ .Params.features.content | markdownify }}</p></div>
      </div>
    </div>
  </div>
  </div>
</div>
{{ end }}

{{ if .Params.presets }}
<div style="font-style: normal;font-weight: 300;" class="section white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 id="presets">Presets</h3>
        <div class="row">
          {{ range .Params.presets }}
          <div class="col-md-3">
            <img class="img-fluid" src="{{ .thumbnail_url }}" />
            <p>
              {{ .title }}
            </p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ if .Params.hosts.content }}
<div style="font-style: normal;font-weight: 300;" class="section text-center">
  <div class="container">
    <div class="row">
		  <div style="font-size:14pt;">
      <div class="col">
        <h2 id="hosts" style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>Hosts</b></h2>
        <div class="text-left">{{ .Params.hosts.content | markdownify }}</div>
      </div>
    </div>
  </div>
  </div>
</div>
{{ end }}

{{ range .Params.sections }}
<div style="font-style: normal;font-weight: 300;" class="section {{ if (eq .background "Gray") }}gray{{ else }}white{{ end }}">
  <div class="container">
  	  <div style="font-size:14pt;">
    <div class="row">
      <div class="col">
	  {{ if not .page_title }}
        <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="{{ .title | urlize }}"><b>{{ .title }}</b></h1>
      {{ else if .page_title }}
        <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="{{ .title | urlize }}"><b>{{ .page_title }}</b></h1>	  
	  {{ end }}
	  </div>
    </div>
    {{ if (eq .type "Two Up") }}
    {{ $items := .items }}
    {{ range $index, $item := .items }}
       <div class="row">
	
      <div class="col-md-12">
	  {{ if $item.title }}
   	  	<h2 style="font-style: normal;font-weight: 300;text-align:center;"><b>{{ $item.title }}</b></h2>
	  {{ end }}
	  {{ if and ($item.image_url3) ($item.image_url4) }}
	  <br><div id="container4">
	  {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url3 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
	  {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url4 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
	  </div>
	  {{ end }}
        {{ if not ($item.image_url2) }}
		
		<br>{{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}

		{{ end }}
        {{ if $item.video_url }}
	    {{ partial "video-play.html" (dict "thumbnail_url" $item.thumbnail_url "video_url" $item.video_url) }}<br>
        {{ end }}

        {{ if $item.content }}
        <div class="text-left">
          <p style="font-style: normal;font-weight: 300;">{{ $item.content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
	  </div>
    
    {{ if (ne $index (add (len $items) -1)) }}
    <hr class="hidden-sm-down"/>
    {{ end }}
    {{ end }}
    {{ else if (eq .type "Thumbnails") }}
    <div class="row">
      {{ range .items }}
      <div class="col-lg-3">
        <p>
          <a href="{{ .video_url }}">
            <img class="img-fluid" src="{{ .image_url }}" />
          </a>
        </p>
        <p>
          <a href="{{ .video_url }}">{{ .title }}</a>
        </p>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ if .content }}
    <div class="row">
      <div class="col">
        {{ .content | markdownify }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
</div>
{{ end }}

<script>

$(window).on('load',function() {
  $("#container4").twentytwenty();  
});
</script>

{{ if .Params.learn.content }}
<div style="font-style: normal;font-weight: 300;" class="section text-center">
  <div class="container">
    <div class="row">
		  <div style="font-size:14pt;">
      <div class="col-md-12">
        <h1 id="learn" style="font-style: normal;font-weight: 500; letter-spacing:0em;"><b>LEARN</b></h1><br>
		{{ partial "imagehandlewithdir.html" (dict "image_url" .Params.learn.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}<br><br>
        <div class="text-left">{{ .Params.learn.content | markdownify }}</div>
      </div>
    </div>
  </div>
  </div>
</div>
{{ end }}

{{ if gt ($.Scratch.Get "video_count") 0 }}
<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="effects">Effects</h2>
        {{ partial "video-gallery.html" }}
      </div>
    </div>
  </div>
</div>


{{ end }}

{{ end }}