{{ define "content" }}

{{ $.Scratch.Set "video_count" 0 }}


<style>
@media only screen and (min-width: 1200px) {
.image {
display: inline;
}
}
.carousel-indicators li{display:none;}
</style>

<script>
var videos = [
  {{ range (.Site.GetPage "section" "effects").Pages }}
  {{ if isset $.Params "product" }}
  {{ if eq .Params.product $.Params.product }}
  {{ if or (not (isset $.Params "unit")) (eq .Params.unit $.Params.unit) }}
  {
    "x": {{ $.Scratch.Set "video_count" 1 }},
    "title": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "thumbnail_url": "{{ .Params.thumbnail_url }}",
    "tagging": {
      {{ if isset .Params "unit" }}
      "unit": {{ .Params.unit }},
      {{ end }}
    },
    "content": "{{ .Content | plainify }}",
  },
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
];
</script>

{{ if .Params.carousel }}
<div style="background-color: black;">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{ range $index, $item := .Params.carousel }}
      <li data-target="#carousel" data-slide-to="{{ $index }}"{{ if eq $index 0 }} class="active"{{ end }}></li>
      {{ end }}
    </ol>
    <div class="carousel-inner" role="listbox">
      {{ range $index, $item := .Params.carousel }}
      <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
        <div class="inner">
          {{ if $item.video_url }}
          <video autoplay loop muted poster="{{ $item.image_url }}">
            <source src="{{ $item.video_url }}">
          </video>
          {{ else }}

		  {{ partial "imagehandlecarousel.html" (dict "image_url" $item.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}

          {{ end }}
          <div class="content text-center {{ if eq $item.color "black" }}black{{ end }}">
            <div>
              <p class="mb-0" style="line-height: 1; font-size: 47px; font-weight: 900;">{{ $item.title }}</p>
              <p>
                {{ if $item.content }}
                {{ $item.content | markdownify }}
                {{ end }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ else }}
<div class="section" style="background-image: url('https://borisfx-com-res.cloudinary.com/image/upload/default-logo-background.png')">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
{{ end }}

<div class="product-nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <nav>
          <span class="product-links">
            {{ if .Params.overview.content }}
            <a href="#overview">Overview</a>
            {{ end }}
            {{ if .Params.whats_new }}
            <a href="#whats-new">
              {{ if .Params.whats_new_title }}
              {{ .Params.whats_new_title }}
              {{ else }}
              What's New
              {{ end }}
            </a>
            {{ end }}
            {{ if .Params.videos }}
            <a href="#videos">Videos</a>
            {{ end }}
            {{ if .Params.features.content }}
            <a href="#features">Features</a>
            {{ end }}
            {{ if .Params.presets }}
            <a href="#presets">Presets</a>
            {{ end }}
            {{ if .Params.hosts.content }}
            <a href="#hosts">Hosts</a>
            {{ end }}
            {{ range .Params.sections }}
            <a href="#{{ .title | urlize }}">{{ .title }}</a>
            {{ end }}
            {{ if gt ($.Scratch.Get "video_count") 0 }}
            <a href="#effects">Effects</a>
            {{ end }}
          </span>
        </nav>
      </div>

      <div class="col-lg-4 col-md-12">
        <span class="float-lg-right product-btns">
          <a href="{{ if .Params.download_url }}{{ .Params.download_url }}{{ else }}/downloads{{ end }}" class="btn btn-{{ .Params.key_color }}" id="ft">FREE TRIAL</a>
          <a href="{{ .Params.buy_now_url }}" class="btn btn-{{ .Params.key_color }}">BUY NOW</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="product-nav-placeholder"></div>
<script>
$(function () {
  $(document).ready(function () {
    var nav = $('.product-nav');
    var navPosition = nav.offset().top;
    navPosition -= $('header').height();
    function update() {
      if ($(this).scrollTop() > navPosition) {
        nav.addClass("fixed");
      } else {
        nav.removeClass("fixed");
      }
    }
    $(window).scroll(update);
    update();
  });
});
</script>

{{ if .Params.store }}

<div id="overview"></div>

{{ partial "product-page-filters-cart" . }}

{{ end }}


<script>
$(function(){
  $("#container1").twentytwenty();
});
</script>
{{ if .Params.whats_new }}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col">

          {{ if .Params.whats_new_title }}
          		   <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="whats-new"><b>{{ .Params.whats_new_title | upper }}</b></h1>
          {{ else }}
          		   <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="whats-new"><b>What's New</b></h1>
          {{ end }}
        
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ $items := .Params.whats_new }}
        {{ range $index, $item := .Params.whats_new }}
       
          <div class="col">
                        <h2  style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;">{{ $item.title | upper }}</h2><br><br>
			{{ if $item.image_url }}
			
						 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			
			{{ end }}
			
			{{ if and ($item.image_url1) ($item.image_url2) }}
			
			<div id="contain">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url1 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url2 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>

			
			{{ end }}
			
			{{ if and ($item.image_url3) ($item.image_url4) }}
						<div id="contain1">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url3 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url4 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>
			{{ end }}
			{{ if and ($item.image_url5) ($item.image_url5) }}
						<div id="contain2">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url5 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url6 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>
			{{ end }}
			{{ if and ($item.image_url7) ($item.image_url8) }}
						<div id="contain3">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url7 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url8 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>
			{{ end }}
			{{ if and ($item.image_url9) ($item.image_url10) }}
						<div id="contain4">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url9 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url10 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>
			{{ end }}	
			{{ if and ($item.image_url11) ($item.image_url12) }}
						<div id="contain5">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url11 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url12 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>
			{{ end }}
			{{ if and ($item.image_url13) ($item.image_url14) }}
						<div id="contain6">
			 {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url13 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
             {{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url14 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
			</div>
			{{ end }}
			<script>
$(window).on('load',function() {
  $("#contain").twentytwenty();
  $("#contain1").twentytwenty();
  $("#contain2").twentytwenty();
  $("#contain3").twentytwenty();
  $("#contain4").twentytwenty();
  $("#contain5").twentytwenty();
  $("#contain6").twentytwenty();
  
});
</script>
        {{ if $item.video_url }}
	    {{ partial "video-play.html" (dict "thumbnail_url" $item.thumbnail_url "video_url" $item.video_url) }}
        {{ end }}
			
          </div>
          <div class="col">

            {{ if $item.content }}
			<div class="text-left" style="margin-top: 2.5%;margin-bottom:2.5%;width:100%;font-style: normal;font-weight: 300;font-size:14pt;">
              {{ $item.content | markdownify }}
            </div>
            {{ end }}
          </div>

        {{ if (ne $index (add (len $items) -1)) }}
        <hr class="hidden-sm-down"/>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ end }}
<script>

$("#ContentToggle00").click(function() {

$("#ContentHide0").toggle("slow");


});


$("#ContentToggle").click(function() {

$("#ContentHide").toggle("slow");
});

$("#ContentToggle2").click(function() {

$("#ContentHide2").toggle("slow");
});

$("#ContentToggle3").click(function() {

$("#ContentHide3").toggle("slow");
});

$("#ContentToggle4").click(function() {

$("#ContentHide4").toggle("slow");
});

</script>
{{ if .Params.videos }}
<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="videos"><b>VIDEOS</b></h1>
      </div>
    </div>
    <div class="row">
      {{ range .Params.videos }}
      <div class="col-lg-3">
        <p>
          <a href="{{ .url }}">
            <img class="img-fluid" src="{{ .thumbnail_url }}" />
          </a>
        </p>
        <p>
          <a href="{{ .url }}">{{ .title }}</a>
        </p>
      </div>
      {{ end }}
    </div>
    {{ if .Params.video_see_more_url }}
    <div class="row">
      <div class="col">
        <p>
          <a href="{{ .Params.video_see_more_url }}">See More Videos</a>
        </p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ if .Params.features.content }}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="features"><b>FEATURES</b></h1>
        {{ .Params.features.content | markdownify }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ if .Params.presets }}
<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col">
               <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="presets">PRESETS</h1>
        <div class="row">
          {{ range .Params.presets }}
          <div class="col-md-3">
            <img class="img-fluid" src="{{ .thumbnail_url }}" />
            <p>
              {{ .title }}
            </p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ if .Params.hosts.content }}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col">
               <h1 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;" id="hosts">HOSTS</h1>
        {{ .Params.hosts.content | markdownify }}
      </div>
    </div>
  </div>
</div>
{{ end }}



{{ range .Params.sections }}
<div class="section {{ if (eq .background "Gray") }}gray{{ else }}white{{ end }}">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 id="{{ .title | urlize }}" style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;"><b>{{ .title | upper }}</b></h1>
      </div>
    </div>
    {{ if (eq .type "Two Up") }}
    {{ $items := .items }}
    {{ range $index, $item := .items }}
	<div class="row">
	<div class="col">
	<h2 style="font-style: normal;font-weight: 500;text-align:center; letter-spacing:0em;">{{ $item.title | upper }}</h2>
	</div>
	</div>
     <div class="row">
      <div class="col">
        {{ if not ($item.image_url2) }}
		
		{{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
		{{ else }}
		<div id="container1">		
		{{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url1 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}
		{{ partial "imagehandlewithdir.html" (dict "image_url" $item.image_url2 "baseURL" $.Site.Params.cloudinary_base_url "baseDIR" $.Site.Params.cloudinary_base_dir) }}

		</div>
		{{ end }}
        {{ if $item.video_url }}
        {{ partial "video.html" $item.video_url }}
        {{ end }}
		
      </div>
	  </div>
	  
	  <div class="row">
      <div class="col">

        {{ if $item.content }}
<div class="text-left" style="width:100%;font-style: normal;font-weight: 300;font-size:14pt;">
          {{ $item.content | markdownify }}
</div>
        {{ end }}
      </div>
</div>
    {{ if (ne $index (add (len $items) -1)) }}
    <hr class="hidden-sm-down"/>
    {{ end }}
    {{ end }}
    {{ else if (eq .type "Thumbnails") }}
    <div class="row">
      {{ range .items }}
      <div class="col-lg-3">
        <p>
          <a href="{{ .url }}">
            <img class="img-fluid" src="{{ .image_url }}" />
          </a>
        </p>
        <p>
          <a href="{{ .url }}">{{ .title }}</a>
        </p>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ if .content }}
    <div class="row">
      <div class="col">
        {{ .content | markdownify }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
<script>

$("#ContentToggle55").click(function() {

$("#ContentHide5").toggle("slow");
});

$("#ContentToggle66").click(function() {

$("#ContentHide6").toggle("slow");
});

$("#ContentToggle77").click(function() {

$("#ContentHide7").toggle("slow");
});

$("#ContentToggle88").click(function() {

$("#ContentHide8").toggle("slow");
});

$("#ContentToggle99").click(function() {

$("#ContentHide9").toggle("slow");
});

$("#ContentToggle10").click(function() {

$("#ContentHide10").toggle("slow");
});



$("#ContentToggle12").click(function() {

$("#ContentHide12").toggle("slow");
});

</script>
{{ if gt ($.Scratch.Get "video_count") 0 }}
<div class="section white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 id="effects">Effects</h3>
        {{ partial "video-gallery.html" }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}
